# nano-pmod
	# PMOD 1A
set_io clk_lp_p 46
set_io clk_lp_n 48
set_io clk_hs_p 4
set_io clk_hs_n 2
set_io dat_lp_p 44
set_io dat_lp_n 3
set_io dat_hs_p 47
set_io dat_hs_n 45

# SPI
set_io spi_mosi 14
set_io spi_miso 17
set_io spi_cs_n 11
set_io spi_clk 15

# Leds
set_io rgb[0] 39
set_io rgb[1] 40
set_io rgb[2] 41

# Clock
set_io clk_12m 35
